extends ./lauout/template
block config
    -var siteTitle = 'Home Page'
block content
    .component
        .container-fluid
            .row.justify-content-between
                h3.col-auto Новый продукт
                nav.col-auto
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="#") Главная
                        li.breadcrumb-item
                            a(href="#") Список продуктов
                        li.breadcrumb-item.active Создать
        .container-fluid
        .row
            .col-md-6
                .card
                    .card-header
                        h5 Основные
                    .card-body
                        .row.form-group
                            label.col-sm-2.col-form-label Название
                            .col-sm-10
                                input.form-control(type="text")
                        .row.form-group
                            label.col-sm-2.col-form-label Артикул
                            .col-sm-10
                                input.form-control(type="text")
                        .row.form-group
                            label.col-sm-2.col-form-label Изображение
                            .col-sm-10
                                .custom-file
                                    input.custom-file-input(type="file")
                                    label.custom-file-label Загрузить
                        .row.form-group
                            label.col-sm-2.col-form-label Цена
                            .col-sm-10
                                input.form-control(type="text")
                        .row.form-group
                            label.col-sm-2.col-form-label Описание
                            .col-sm-10
                                textarea.form-control(rows=6)
                        .row.form-group
                            .col-sm-2 Публикация
                            .col-sm-10
                                .form-check
                                    input.form-check-input(type="checkbox")
                        .row.form-group
                            .col-12.text-right
                                button.btn.btn-outline-success К списку
                                button.btn.btn-outline-primary.ml-1 Сохранить
            .col-md-6.mt-2.mt-md-0
                .card
                    .card-header
                        h5 SEO-параметры
                    .card-body
                        .row.form-group
                            label.col-sm-2.col-form-label Title
                            .col-sm-10
                                input.form-control(type="text")
                        .row.form-group
                            label.col-sm-2.col-form-label Description
                            .col-sm-10
                                textarea.form-control(rows=3)
                        .row.form-group
                            label.col-sm-2.col-form-label keywords
                            .col-sm-10
                                textarea.form-control(rows=3)
