extends ./lauout/template
block config
    -var siteTitle = 'Home Page'
block content
    .component
        .container-fluid
            .row.justify-content-between
                h3.col-auto Редактировать продукт
                nav.col-auto
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="#") Главная
                        li.breadcrumb-item
                            a(href="#") Список продуктов
                        li.breadcrumb-item.active Редактировать
        .container-fluid
        .row
            .col-md-7
                .card
                    .card-header
                        h5 Основные
                    .card-body
                        .row
                            .col-auto
                                img(src=`${require("../img/prod-1.jpg")}` height="150px")
                            .col
                                .row.form-group
                                    label.col-sm-3.col-form-label Название
                                    .col-sm-9
                                        input.form-control(type="text" value="Вишня")
                                .row.form-group
                                    label.col-sm-3.col-form-label Артикул
                                    .col-sm-9
                                        input.form-control(type="text" value="4545a")
                                .row.form-group
                                    label.col-sm-3.col-form-label Изображение
                                    .col-sm-9
                                        .custom-file
                                            input.custom-file-input(type="file" value="var/user/prod.img")
                                            label.custom-file-label var/user/prod.img
                        .row.form-group
                            label.col-sm-2.col-form-label Цена
                            .col-sm-10
                                input.form-control(type="text" value="$12")
                        .row.form-group
                            label.col-sm-2.col-form-label Описание
                            .col-sm-10
                                textarea.form-control(rows=6) Савельич поглядел на меня с глубокой горестью и пошел за
                                    | моим долгом. Мне было жальбедного старика; но я хотел вырваться на волю и доказать, что уж
                                    | я не ребенок. Деньги были доставлены Зурину.

                        .row.form-group
                            .col-sm-2 Публикация
                            .col-sm-10
                                .form-check
                                    input.form-check-input(type="checkbox" checked=true)
                        .row.form-group
                            .col-12.text-right
                                button.btn.btn-outline-success К списку
                                button.btn.btn-outline-primary.ml-1 Сохранить
            .col-md-5.mt-2.mt-md-0
                .card
                    .card-header
                        h5 SEO-параметры
                    .card-body
                        .row.form-group
                            label.col-sm-3.col-form-label Title
                            .col-sm-9
                                input.form-control(type="text" value="Купить вишню" )
                        .row.form-group
                            label.col-sm-3.col-form-label Description
                            .col-sm-9
                                textarea.form-control(rows=3)
                        .row.form-group
                            label.col-sm-3.col-form-label keywords
                            .col-sm-9
                                textarea.form-control(rows=3)