extends ./lauout/template
block config
    -var siteTitle = 'Home Page'
block content
    .component.old-left
        .container-fluid
            .row.justify-content-between
                h3.col-auto Список продуктов
                nav.col-auto
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="#") Главная
                        li.breadcrumb-item.active Список продуктов
        .container-fluid
        .row
            .col-12
                .card
                    .card-header
                        h5 Продукты
                    .card-body
                        table.table
                            thead
                                tr
                                    th(scope="col") #
                                    th(scope="col") Арт
                                    th(scope="col") Вид
                                    th(scope="col") Название
                                    th(scope="col") Цена
                                    th(scope="col") Публикация
                                    th(scope="col") Дата
                                    th(scope="col") Действия
                            tbody
                                - for (var x = 0; x < 20; x++)
                                    tr
                                        td(scope="row") #{x+1}
                                        td #{x * 2}a212
                                        td
                                            img(src=`${require("../img/prod-1.jpg")}` height="40px")
                                        td Название продукта
                                        td $#{x * 2 + 4}
                                        td Публикация
                                        td #{25-x}-04-2018
                                        td
                                            div.btn-group.btn-group-sm(role="group")
                                                button.btn.btn-outline-success show
                                                button.btn.btn-outline-primary edit
                                                button.btn.btn-outline-danger delete
    .component.new-left
        .loader.d-flex.align-items-center.justify-content-center
            img(src=src = `${require("../img/svg/loader.svg")}`)
