extends ./lauout/template
block config
    -var siteTitle = 'Home Page'
block content
    .component
        .loader.d-flex.align-items-center.justify-content-center
            img(src=src=`${require("../img/svg/loader.svg")}`)
