extends ./lauout/template
block config
    -var siteTitle = 'Home Page'
block content
    .component
        .container-fluid
            .row.justify-content-between
                h3.col-auto Bишня
                nav.col-auto
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="#") Главная
                        li.breadcrumb-item
                            a(href="#") Список продуктов
                        li.breadcrumb-item.active Вишня
        .container-fluid
        .row
            .col-md-8
                .card
                    .card-header
                        h5 Основные
                    .card-body
                        .row
                            .col-3
                                img(src=`${require("../img/prod-1.jpg")}`)
                            .col-9
                                h3 Вишня
                                span
                                    strong Арт:
                                    | &nbsp;4545a
                                p
                                    strong Цена:
                                    | &nbsp;$12
                                p Савельич поглядел на меня с глубокой горестью и пошел за моим долгом. Мне было жаль
                                  |бедного старика; но я хотел вырваться на волю и доказать, что уж я не ребенок.
                                  |Деньги были доставлены Зурину.
                                .float-right
                                    button.btn.btn-outline-success К списку
                                    button.btn.btn-outline-primary.ml-1 Редактировать
            .col-md-4.mt-2.mt-md-0
                .card
                    .card-header
                        h5 Информация
                    .card-body
                        table.table
                            thead
                                tr
                                    th(scope="col") #
                                    th(scope="col") Параметр
                                    th(scope="col") Значение
                            tbody
                                tr
                                    td 1
                                    td Поступление
                                    td 23-05-18
                                tr
                                    td 2
                                    td Остаток
                                    td 18
                                tr
                                    td 2
                                    td Рейтинг
                                    td 14,2
                                tr
                                    td 2
                                    td Показы
                                    td 1821