block content-wrapper
    .content-wrapper
        aside.bg-dark-gray
            .avatar.row.no-gutters.d-flex.py-4
                .col-auto
                    img.rounded-circle.ml-2(src=`${require("../img/avatar.jpg")}`)
                .col.ml-3.align-self-center
                    strong Виктор Теплов </br>
                    small Super Admin
            ul.nav.flex-column
                li.nav-item
                    a.nav-link(href="#") Категории
                li.nav-item
                    a.nav-link.active(href="#") Товары
                li.nav-item
                    a.nav-link(href="#") Заказы
                li.nav-item
                    a.nav-link(href="#") Склад
        .content-block
            .sub-wrapper
                .sub-component
                    block content
