block header
    header.bg-light.fixed-top
        div.row.no-gutters.justify-content-between
            div.col-auto
                div.logo-line
                    div.logo
                        a.d-flex(href="/")
                            img.align-self-center(src=`${require("../img/logo.png")}`)
                            span.align-self-center TaskShop
            div.col-auto
                nav.navbar.navbar-expand-lg
                    div.collapse.navbar-collapse
                        ul.navbar-nav
                            li.nav-item.notif
                                a.nav-link(href="#")
                                    img.pl-2(src=`${require("../img/svg/bell.svg")}` height="20px")
                            li.nav-item
                                a.nav-link(href="#")
                                    img.pl-2(src=`${require("../img/svg/mail.svg")}` height="20px")
                            li.nav-item
                                a.nav-link(href="#")
                                    img.px-2(src=`${require("../img/svg/setting.svg")}` height="20px")