block config
head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content="IE = edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="theme-color" content="#4285f4")
    link(rel="shortcut icon" href=`${require("../img/favicon.ico")}`)
    title #{siteTitle || 'My application'}
