.old-left {
  left: 0;
}
.new-left {
  left: 80%;
}

//component {
//  left: 0;
//  transition: all 600ms linear;
//}
.component.animation-enter {
  left: 0;
  transform: translateY(-200px);
  opacity: 0;

}

.component.animation-enter.animation-enter-active {
  left: 0;
  opacity: 1;
  transform: translateY(0);
  transition: all 800ms ease;
}

.component.animation-leave {
  left: 0;
  z-index: -1;
  opacity: 1;
  transition: all 400ms ease;
  &.animation-leave-active {
    opacity: 0;
    overflow: hidden;
  }
}
.line {
  opacity: 1;
  transform: translateX(0);
  transition: all 400ms ease;
  &.out-exit.out-exit-active {
    opacity: 0;
    transform: translateX(330px);
  }
}

// alert анимация
.alert {
  &.message-enter {
    opacity: 0;
    transition: all 500ms ease;
  }
  &.message-enter-active {
    opacity: 1;
    transition: all 400ms ease;
  }
  &.message-exit-active {
    opacity: 0;
    transition: all 700ms ease;
  }
}

//alert alert-primary sticky-top message-enter message-enter-active
//alert alert-primary sticky-top message-enter-done
//class="component left-leave animation-leave-active"
//        component animation-leave animation-leave-active
//class="component animation-enter animation-enter-active"

