header {
  box-shadow: 0 2px 5px 0 rgba($dark,0.16), 0 2px 10px 0 rgba($dark,0.12);

}
.logo-line {
  background: $gray-900;
  height: 100%;
  width: 235px;
  padding: 0 20px 0 35px;
  .logo{
    height: 100%;
    a {
      height: 100%;
      &:hover {
        text-decoration: none;
      }
      span {
        color: $white;
        font-size: 20px;
      }
    }
  }
}
.notif {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    background: no-repeat url("../img/svg/notif.svg");
  }
}