@import '/bootstrap/bootstrap';
@import 'header';
@import 'loader';
@import "animation";
.content-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 56px;
  background-color: $gray-200;
}

aside {
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  min-height: 1000%;
  width: 235px;
  padding-top: 56px;
  li a {
    color: $gray-600;
    transition: all 600ms linear;
    &:hover, &.active {
      color: $white;
      background-color: darken($gray-900, 5%);
      border-right: 3px solid $pink;
    }
    &.nav-link {
      padding: 0.7rem 1rem;
    }
  }
  .avatar {
    color: $gray-400;
    border-bottom: 1px solid $gray-700;
    }
}

.content-block {
  padding: 25px 20px 10px;
  margin-left: 235px;
  height: 100%;
  overflow: scroll;
}

.sub-wrapper {
  min-height: 100%;
  height: 1px;
}
.sub-component {
  width: 100%;
  min-height: 100%;
  height: 1px;
  position: relative;
  .component {
    min-height: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

//
//.prod-card {
//  padding: 20px;
//}
//.prod-image {
//  //background: no-repeat scroll 50%50%/cover;
//  height: 300px;
//  background-image: url("../img/logo.png");
//}